@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}


html, body {
    margin: 0;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
}

.blue-decoration {
    background-color: #0891B2;
    width: 100%;
    height: 500px;
    position: absolute;
    transform: skewY(-.15rad);
    top: -250px;
    z-index: -2;
    box-shadow: 0px 0px 15px 0px;

}

.profile-container {
    margin: 100px 100px 50px 100px;
    max-width: 70vw;
    min-width: fit-content;
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 6px -2px rgb(103, 100, 100);
    position: relative;
}

.profile-container p {
    padding: 10px;
    margin-right: 10px;
    padding-top: 0;
    min-height: 300px;
}

.profile-img {
    max-width: 300px;
    transform: translateX(-25px) scale(1.15);
    box-shadow: 5px 5px 6px -2px rgb(103, 100, 100);
}

.profile-img-container {
    grid-row: span 3;
}

.name {
    color: white;
    position: relative;
    top: -25px;
    left: -25px;
    font-family: Playfair, roboto;
    font-size: 2.3rem;
    height: 0;
    margin: -1px;

}

.about-me {
    padding: 10px 10px 0px 10px;
}

.social-media-container {
    font-size: 2em;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 10px 0px 10px;
}

.social-media-container a {
    color: black;
    text-decoration: none;
    padding: 10px;
}

.social-media-container a:hover {
    color: #0891B2;
    transform: scale(1.5) rotate(360deg);
    transition-duration: 1s;
}


main {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    grid-gap: 10px;
    padding: 10px;
    justify-items: center;
    background-color: #1ed57a;
}

article {
    height: 90%;
    width: 90%;
    padding: 10px;
    box-shadow: 5px 5px 6px -2px rgb(103, 100, 100);
    border-radius: 10px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    animation: grow 1s ease-in-out infinite;
    
}

@keyframes grow {
    0% {
        height: 90%;
        width: 90%;
    }
    50% {
        height: 95%;
        width: 95%;
    }
    100% {
        height: 90%;
        width: 90%;
    }
}

article img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;
}

.project-info {
    margin-top: 5px;
    padding: 10px;
    position: relative;

}

.project-info h3 {
    margin: 0;
    padding: 0;
}

.project-info a {
    text-decoration: none;
    color: black;
    position: absolute;
    top: auto;
    right: 10px;
}

footer {
    width: 100vw;
    background-color: #0891B2;
    color: white;
    padding: .5em;
    display: flex;
    flex-direction: column;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
}

footer h2 {
    font-size: 42px;
    font-style: italic;

}

.footer-social {
    font-size: 2em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer-social a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 10px 0px 0px;
}

footer img {
    width: 20%;
    object-fit: cover;
    margin: 10px;
}

.acknowledgement {
    padding: auto;
    font-style: italic;
    font-family: cursive;
    font-size: small;
}


@media screen and (max-width: 600px) {

    .profile-container {
        grid-template-columns: 1fr;
    }

    main {
        grid-template-columns: 1fr;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
        width: 100%;
        padding: 5px;
    }

    footer img {
        width: 80%;
        object-fit: cover;
        margin: 10px;
    }

    .acknowledgement {
        text-align: center;
    }
    
}

@media screen and (max-width: 900px) {
    main {
        grid-template-columns: 1fr 1fr;
    }
}